---
---

@import "{{ site.theme }}";

body {
  background: #fffff8;
}

pre, code, .highlighter-rouge .highlight {
  background: #f8f8f0;
}

.posts > .post {
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
}

.post {
  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

